@import "tailwindcss";

:root {
  --bg: #BECAF9;
  --text: #111827;

  --accent-primary: #3575E6;   
  --accent-secondary: #8665c0; 
}

html.dark {
  --bg: #061241;
  --text: #e6eef8;

  --accent-primary: #8B5CF6;  
  --accent-secondary: #60A5FA; 
}

body {
  background-color: var(--bg);
  color: var(--text);
}
